@import "tailwindcss";

@theme {
  --color-primary: #2563eb; /* blue-600 */
  --color-primary-dark: #1e40af; /* blue-800 */
  --color-bg-app: #f3f4f6; /* gray-100 */
  --color-surface: #ffffff; /* white */
  
  --radius-card: 1rem;
}
